/* setting for the layout option in customizer */
#creative-blog-img-container .creative-blog-radio-img-img {
	border: 3px solid #DEDEDE;
	margin: 0 5px 5px 0;
	cursor: pointer;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#creative-blog-img-container .creative-blog-radio-img-selected {
	border: 3px solid #AAA;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
input[type=checkbox]:before {
	content: '';
	margin: -3px 0 0 -4px;
}
li.customize-control-creative-blog-important-links p {
	text-align: center;
	padding: 10px;
	background-color: #0099ff;
}
li.customize-control-creative-blog-important-links a {
	color: #fff;
}
#accordion-section-creative_blog_important_links_section h3.accordion-section-title, #accordion-section-creative_blog_important_links_section h3.accordion-section-title:hover {
	background-color: #0099ff !important;
	color: #fff !important;
}
#accordion-section-creative_blog_important_links_section h3.accordion-section-title:after {
	color: #fff !important;
}